
<ejs-button id="storestate" cssClass="e-flat" isPrimary="true" content="Store State"></ejs-button>
<ejs-button id="reset" cssClass="e-flat" content="Reset"></ejs-button>
<ejs-button id="restorestate" cssClass="e-flat" content="Restore State"></ejs-button>

<div>
    <ejs-grid id="Grid" dataSource="@ViewBag.DataSource" height="500" created="created" allowFiltering="true" allowGrouping="true" allowSorting="true" allowPaging="true" showColumnChooser="true" toolbar="@(new List<string>() { "ColumnChooser"})">
        <e-grid-columns>
            <e-grid-column field="OrderID" headerText="Order ID" isPrimaryKey="true" textAlign="Right" width="120"></e-grid-column>
            <e-grid-column field="CustomerID" headerText="Customer Name" width="150"></e-grid-column>
            <e-grid-column field="EmployeeID" headerText="Employee ID" width="170"></e-grid-column>
            <e-grid-column field="Freight" headerText="Freight" format="c2" width="170"></e-grid-column>
            <e-grid-column field="ShipCity" headerText="Ship City" width="170"></e-grid-column>
            <e-grid-column field="ShipCountry" headerText="Ship Country" width="170"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>


<script>
    var grid;

    function created() {
        grid = this;
        window.localStorage.setItem('initialGrid', grid.getPersistData()); // store the initial grid state to local storage on initial rendering.
    }

    document.getElementById('reset').onclick = function () {

        var savedProperties = JSON.parse(window.localStorage.getItem('initialGrid')); // get the saved initial grid state from local storage
        grid.setProperties(savedProperties)// reset the grid to initial state. 
    }

    document.getElementById("storestate").addEventListener('click', function () {

        // get the persisted data from the grid by using getPersistData method.
        var persistData = JSON.stringify({ persistData: grid.getPersistData() })

        var ajax = new ej.base.Ajax({ // used EJ2 ajax to send the stored persistData to server

            url: "/Home/StorePersistData",

            type: "POST",

            contentType: "application/json; charset=utf-8",

            datatype: "json",

            data: persistData // send the data to server

        });

        ajax.send();
    });
    document.getElementById("restorestate").addEventListener('click', function () {
        var ajax = new ej.base.Ajax({ // used EJ2 ajax to  retrieve the persistData from server

            url: "/Home/Restore",

            type: "POST",

            contentType: "application/json; charset=utf-8"

        });

        ajax.send();

        ajax.onSuccess = function (result) {

            var state = JSON.parse(result); // get the data

            grid.setProperties(state); // restore the Grid state

        }
    });
     

</script>